<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SafeReturns</title>
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&family=Roboto:wght@400;700&display=swap"
      rel="stylesheet" />
    <link href="/styles/common.css" rel="stylesheet">
    <link href="/styles/styles.css" rel="stylesheet">

</head>
<body>
    <section class="hero-section">
        <div class="hero-content">
            <h1>SafeReturns</h1>
            <p>Connecting families, helping reunite lost loved ones!</p>
            <a href="/login" class="cta-button">Login</a>
        </div>
    </section>
</body>
</html>
